font[size="1"] {
    font-size: 16px;
}
font[size="2"] {
    font-size: 18px;
}
font[size="3"] {
    font-size: 20px;
}
font[size="4"] {
    font-size: 22px;
}
font[size="5"] {
    font-size: 24px;
}
font[size="6"] {
    font-size: 26px;
}
font[size="7"] {
    font-size: 28px;
}